@charset "UTF-8";


.clearfix::after {
  display: block;
  clear: both;
  content: ""; }


a {
  /* color: red; */
  text-decoration: none; }

li {
  list-style: none; }

.badge-titolo {
  --badge--c--main: black;
  --badge--c--bg: #ffffff;
  --badge--c--border: black;
  color: var(--badge--c--main);
  background-color: var(--badge--c--bg);
  line-height: 1.1;
  font-weight: 700;
  border-radius: 5px;
  padding: .3rem .6rem; }


.progress{
    border-radius:10px;
}

.only-mobile {
  display: none; }
  @media (max-width: 575.98px) {
    .only-mobile {
      display: block; } }

.logo-wrapper {
  text-align: center; }

.mobile-navigation {
  display: none; }

.menu {
  padding: 0; }
  .menu .menu-close-button {
    color: var(--c--primary);
    background-color: var(--c--black);
    opacity: .8;
    border-radius: 4px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    margin-bottom: 1.2rem;
    -webkit-transition: .4s ease opacity;
    transition: .4s ease opacity; }
    .menu .menu-close-button i {
      /*font-size: 2rem;*/ }
    .menu .menu-close-button:active, .menu .menu-close-button:focus, .menu .menu-close-button:hover {
      opacity: 1; }
  .menu li:not(.sub-menu-voice) > button,
  .menu li:not(.sub-menu-voice) > a {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3.4rem;
    padding: .6rem 0;
    border-radius: 2.4rem;
    color: var(--c--white);
    outline: none;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    border: initial;
    opacity: .8;
    -webkit-transition: .45s ease opacity;
    transition: .45s ease opacity; }
    .menu li:not(.sub-menu-voice) > button i,
    .menu li:not(.sub-menu-voice) > a i {
       font-size: 1rem;
      } 
  .menu li:not(.sub-menu-voice) > button.open, .menu li:not(.sub-menu-voice) > button.active, .menu li:not(.sub-menu-voice) > button:active, .menu li:not(.sub-menu-voice) > button:focus, .menu li:not(.sub-menu-voice) > button:hover,
  .menu li:not(.sub-menu-voice) > a.open,
  .menu li:not(.sub-menu-voice) > a.active,
  .menu li:not(.sub-menu-voice) > a:active,
  .menu li:not(.sub-menu-voice) > a:focus,
  .menu li:not(.sub-menu-voice) > a:hover {
    opacity: 1; }
  .menu li:not(.sub-menu-voice) > button.open + .sub-menu,
  .menu li:not(.sub-menu-voice) > a.open + .sub-menu {
    pointer-events: initial;
    opacity: 1;
    z-index: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .55s ease opacity .45s, .55s ease transform .45s;
    transition: .55s ease opacity .45s, .55s ease transform .45s; }
  .menu li:not(.sub-menu-voice) .sub-menu {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    left: 100%;
    width: var(--submenu--width);
    padding: 1.6rem;
    -webkit-transform: translateX(-1.5rem);
    transform: translateX(-1.5rem);
    -webkit-transition: .55s ease opacity, .55s ease transform;
    transition: .55s ease opacity, .55s ease transform; }
    .menu li:not(.sub-menu-voice) .sub-menu > h6 {
      /* font-size: 1.4rem; */
      color: var(--c--primary--gray); }
    .menu li:not(.sub-menu-voice) .sub-menu ul {
      padding-left: 0;
      padding-right: 0;
      list-style: none; }
      .menu li:not(.sub-menu-voice) .sub-menu ul li + li {
        margin-top: .1rem; }
      .menu li:not(.sub-menu-voice) .sub-menu ul .sub-menu-voice {
        color: var(--c--white); }
        .menu li:not(.sub-menu-voice) .sub-menu ul .sub-menu-voice .btn,
        .menu li:not(.sub-menu-voice) .sub-menu ul .sub-menu-voice > a {
          text-decoration: none;
          color: var(--c--white);
          font-weight: bold;
          /* font-size: 1.3rem; */
          line-height: 1.4;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          width: calc(100% + 1.3rem);
          margin-left: -.8rem;
          margin-right: -.8rem;
          padding: .8rem 0 .8rem .8rem;
          -webkit-transition: .4s ease background-color;
          transition: .4s ease background-color;
          border-radius: 5px; }
          .menu li:not(.sub-menu-voice) .sub-menu ul .sub-menu-voice .btn:active, .menu li:not(.sub-menu-voice) .sub-menu ul .sub-menu-voice .btn:focus, .menu li:not(.sub-menu-voice) .sub-menu ul .sub-menu-voice .btn:hover,
          .menu li:not(.sub-menu-voice) .sub-menu ul .sub-menu-voice > a:active,
          .menu li:not(.sub-menu-voice) .sub-menu ul .sub-menu-voice > a:focus,
          .menu li:not(.sub-menu-voice) .sub-menu ul .sub-menu-voice > a:hover {
            background-color: rgba(255, 255, 255, 0.05); }
      .menu li:not(.sub-menu-voice) .sub-menu ul li a {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
      .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-item {
        background-color: transparent;
        border: none; }
        .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-item button {
          background-color: transparent;
          -webkit-box-shadow: none;
          box-shadow: none; }
        .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-item .accordion-body {
          padding: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-item .accordion-body a {
            color: #ADAFB5;
            font-weight: 400;
            margin-top: .8rem;
            padding-left: .8rem;
            /* font-size: 1.6rem; */
            -webkit-transition: .4s ease color;
            transition: .4s ease color; }
            .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-item .accordion-body a.active, .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-item .accordion-body a:active, .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-item .accordion-body a:focus, .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-item .accordion-body a:hover {
              color: var(--c--primary); }
            .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-item .accordion-body a.active {
              pointer-events: none; }
      .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-button {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-button:after {
          content: "?";
          font-family: "chronos-icons";
          margin: 0;
          width: 3rem;
          height: 1.5rem;
          font-weight: 100;
          /* font-size: 2.4rem; */
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-transform: rotate(0);
          transform: rotate(0);
          -webkit-transition: .6s ease transform;
          transition: .6s ease transform;
          background-image: none; }
        .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-button[aria-expanded="true"] {
          background-color: rgba(255, 255, 255, 0.05); }
          .menu li:not(.sub-menu-voice) .sub-menu ul .accordion-button[aria-expanded="true"]:after {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

ul.user-menu {
  margin-bottom: 0; }
  ul.user-menu li a:active, ul.user-menu li a:focus, ul.user-menu li a:hover {
    background-color: transparent !important; }
  ul.user-menu .user-button a {
    width: 3.2rem;
    height: 3.2rem;
    margin: auto; }
  ul.user-menu .user-button span {
    background: linear-gradient(222deg, #2DE47D 0%, #2AC2EB 100%);
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

@media (min-width: 576px) {
  .menu > li + li {
    margin-top: 1rem; }
  .menu li:not(.sub-menu-voice) > button.open, .menu li:not(.sub-menu-voice) > button.active, .menu li:not(.sub-menu-voice) > button:active, .menu li:not(.sub-menu-voice) > button:focus, .menu li:not(.sub-menu-voice) > button:hover,
  .menu li:not(.sub-menu-voice) > a.open,
  .menu li:not(.sub-menu-voice) > a.active,
  .menu li:not(.sub-menu-voice) > a:active,
  .menu li:not(.sub-menu-voice) > a:focus,
  .menu li:not(.sub-menu-voice) > a:hover {
    background-color: #254977; }
  .nav-main-menu {
    margin-top: 1rem; }
    .nav-main-menu button > h6 {
      display: none; } }

@media (max-width: 575.98px) {
  li:not(.nav-main-menu li) {
    margin-top: 0; }
  ul.user-menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem; }
    ul.user-menu .sub-menu {
      display: none; }
    ul.user-menu li.user-button {
      width: auto;
      margin-left:1rem; }
    ul.user-menu li a {
      width: 1rem !important;
      opacity: 1 !important; }
  .nav-main-menu {
    background-color: var(--c--black);
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    opacity: 1;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .75s ease height;
    transition: .75s ease height;
    overflow: hidden;
    left: 0;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .nav-main-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0;
      width: 100%;
      padding: 0 1.6rem 1.6rem; }
      .nav-main-menu ul .mt-auto {
        margin-top: auto; }
      .nav-main-menu ul li {
        margin-top: 2rem; }
        .nav-main-menu ul li:not(.sub-menu-voice) > button {
          opacity: 1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: initial;
          gap: 1rem;
          padding: 0; }
          .nav-main-menu ul li:not(.sub-menu-voice) > button i {
            opacity: .1;
            -webkit-transition: .7s ease opacity;
            transition: .7s ease opacity; }
          .nav-main-menu ul li:not(.sub-menu-voice) > button:active, .nav-main-menu ul li:not(.sub-menu-voice) > button:focus, .nav-main-menu ul li:not(.sub-menu-voice) > button:hover {
            background-color: transparent; }
            .nav-main-menu ul li:not(.sub-menu-voice) > button:active i, .nav-main-menu ul li:not(.sub-menu-voice) > button:focus i, .nav-main-menu ul li:not(.sub-menu-voice) > button:hover i {
              opacity: 1; }
          .nav-main-menu ul li:not(.sub-menu-voice) > button h4 {
            text-align: left;
            /* font-size: 1.6rem; */
            margin: 0; }
    .nav-main-menu .mobile-navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding: 0 1.5rem;
      margin-top: 3rem; }
      .nav-main-menu .mobile-navigation img {
        max-width: 10rem; }
  .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sub-menu .menu-close-button {
      border: 1px solid var(--c--primary) !important; }
      .sub-menu .menu-close-button.back {
        display: none !important; }
  .mobile-open li:not(.sub-menu-voice) .sub-menu {
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: var(--c--black);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .logo-button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .8rem; }
    .logo-button-wrap img {
      min-width: 2rem; } }

.tpl--sidenav--nav .main-nav-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--c--white);
  margin: 0;
  padding: 0;
  /* width: 3rem;
  height: 3rem; */
  border: none;
  background-color: transparent; }
  .tpl--sidenav--nav .main-nav-toggle i {
    font-size: 1.5rem;  
  }
.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0; }



.tpl-header--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: .4rem;
  padding-bottom: 0.6rem; }
  .tpl-header--title h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1.5rem; }
  @media (max-width: 575.98px) {
    .tpl-header--title {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 2rem; } }

.tpl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: auto; }
  .tpl--content {
    /**/
    overflow-x: hidden!important;
    /**/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .tpl--content--inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
	  width: 100vw;
      /*width: 100%;*/
      background-color: var(--c--gray);
      padding: 1.5rem 1.5rem 0;
      position: relative; }
      .tpl--content--inner > footer {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        background-color: rgba(255,255,255,.7);
        border-top: 1px solid var(--c--gray);
        padding: 1.5rem;


      }
      .tpl--content--inner .tpl-inner {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .tpl--content--inner .tpl-inner-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 1.5rem; }
        .tpl--content--inner .tpl-inner-content aside {
          width: 300px; }
        .tpl--content--inner .tpl-inner-content > div {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          width: 100%; }
          .tpl--content--inner .tpl-inner-content > div + div {
            margin-top: 2rem; }
  @media (min-width: 576px) {
	  /*NEW*/
	  .tpl .tpl--content--inner {
      width: calc(100vw - var(--menu--width));
      -webkit-transition: .55s ease width .55s;
      transition: .55s ease width .55s; }
	  
	  
	  
    .tpl .tpl--sidenav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      position: relative; }
      .tpl .tpl--sidenav.open:after {
        width: var(--submenu--width);
        -webkit-transition: .55s ease width;
        transition: .55s ease width; }
		.tpl .tpl--sidenav.open + .tpl--content .tpl--content--inner {
			width: calc(100vw - var(--submenu--width) - var(--menu--width));
			-webkit-transition: .55s ease width;
			transition: .55s ease width; }
      .tpl .tpl--sidenav--nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: var(--c--black);
        padding: 2.8rem 0 2rem;
        width: var(--menu--width);
        height: 100vh;
        position: fixed; }
      .tpl .tpl--sidenav:before {
        content: '';
        display: block;
        min-width: var(--menu--width);
        height: 100vh; }
      .tpl .tpl--sidenav:after {
        content: '';
        width: 0;
        height: 100%;
        background-color: #212529;
        -webkit-transition: .55s ease width .55s;
        transition: .55s ease width .55s; }
      .tpl .tpl--sidenav .user-menu {
        margin-top: auto; }
      .tpl .tpl--sidenav .toggle-menu {
        display: none; } }
  @media (max-width: 575.98px) {
    .tpl {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: var(--c--black); }
      .tpl .tpl--sidenav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: relative;
        z-index: 1; }
        .tpl .tpl--sidenav--nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 1rem 1.5rem;
          position: fixed;
          background-color: var(--c--black); }
        .tpl .tpl--sidenav ul.user-menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        .tpl .tpl--sidenav .nav-main-menu:not(.mobile-open) {
          height: 0; } }
  /*
@media (max-width: 991.98px) {
    .tpl .tpl-inner .row div + div {
      margin-top: 2rem; } }
*/
@media (min-width: 576px) {
  .content-width {
    width: calc(100% - var(--menu--width));
    -webkit-transition: .55s ease width .55s;
    transition: .55s ease width .55s; } }
@media (min-width: 576px) {
  .open + .tpl--content .content-width {
    width: calc(100% - var(--menu--width) - var(--submenu--width));
    -webkit-transition: .55s ease width;
    transition: .55s ease width; } }


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }



* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
    --c--black: #212529;
  --c--black2: #282D3C;
  --c--white: white;
  --c--primary--light: #EAF3FD;
  --c--primary: #2F82ED;
  --c--primary--dark: #014193;
  --c--primary--gray: #6A7188;
  --c--gray--light: #faf9f7;
  --c--gray: #F6F7F9;
  --c--gray--medium: #ADAFB5;
  --c--gray--dark: #4c4c4c;
  --c--red: #D82F61;
  --c--red--dark: #9f2248;
  --submenu--width: 22.4rem;
  --menu--width: 5.2rem; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

::-moz-selection {
  background: var(--c--primary);
  color: var(--c--white); }

::selection {
  background: var(--c--primary);
  color: var(--c--white); }

::-moz-selection {
  background: var(--c--primary);
  color: var(--c--white); }


/* html {
  font-size: 67%;
 } 
*/


 /*
.badge {
--badge--c--main: black;
--badge--c--bg: #ffffff;
--badge--c--border: black;
color: var(--badge--c--main);
background-color: var(--badge--c--bg);
*/
/* border: 1px solid var(--badge--c--border);
font-size: 3.2rem;
line-height: 1.1;
font-weight: 700;

font-size: 1.5rem;
padding: .3rem .6rem; }
  .badge.badge-primary {
    --badge--c--main: var(--c--primary);
    --badge--c--bg: #D5E6FB;
    --badge--c--border: #D5E6FB; }
  .badge.badge--white {
    --badge--c--main: #A5A5A5;
    --badge--c--bg: #ffffff;
    --badge--c--border: #E0E0E0; }
  @media (max-width: 575.98px) {
    .badge.badge-primary {
      font-size: 2.8rem; } }
*/


/* 
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.6rem;
 }

h1 {
  font-size: 3.2rem; }
  @media (max-width: 575.98px) {
    h1 {
      font-size: 2.8rem; } }

h2, .h2 {
  font-size: 2.4rem; }
  @media (max-width: 575.98px) {
    h2, .h2 {
      font-size: 2.3rem; } }

p {
  margin-bottom: 2.2rem; } 

*/
/* .focus-ring-primary {
  --bs-focus-ring-color: rgba(var(--bs-primary-rgb), var(--bs-focus-ring-opacity)); }

.focus-ring-secondary {
  --bs-focus-ring-color: rgba(var(--bs-secondary-rgb), var(--bs-focus-ring-opacity)); }

.focus-ring-success {
  --bs-focus-ring-color: rgba(var(--bs-success-rgb), var(--bs-focus-ring-opacity)); }

.focus-ring-info {
  --bs-focus-ring-color: rgba(var(--bs-info-rgb), var(--bs-focus-ring-opacity)); }

.focus-ring-warning {
  --bs-focus-ring-color: rgba(var(--bs-warning-rgb), var(--bs-focus-ring-opacity)); }

.focus-ring-danger {
  --bs-focus-ring-color: rgba(var(--bs-danger-rgb), var(--bs-focus-ring-opacity)); }

.focus-ring-light {
  --bs-focus-ring-color: rgba(var(--bs-light-rgb), var(--bs-focus-ring-opacity)); }

.focus-ring-dark {
  --bs-focus-ring-color: rgba(var(--bs-dark-rgb), var(--bs-focus-ring-opacity)); }

 */