# Node.js dependencies
node_modules/

# Vendor directories
vendor/

# Logs and temporary files
*.log
*.tmp

# IDE and editor specific files
.vscode/
.idea/
.DS_Store
*.swp

# Build directories
dist/
build/
public/

# Environment files
.env
config/*.local

# Uploaded files
uploads/
pdf/
image/
font/

# Miscellaneous
*.class
*.o
*.exe
*.dll
*.pyc

google48256fd98e08e56b.html
robots.txt
sitemap.xml